<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,156}</string>
                <key>spriteSourceSize</key>
                <string>{177,156}</string>
                <key>textureRect</key>
                <string>{{0,0},{177,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,156}</string>
                <key>spriteSourceSize</key>
                <string>{177,156}</string>
                <key>textureRect</key>
                <string>{{1593,0},{177,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,156}</string>
                <key>spriteSourceSize</key>
                <string>{177,156}</string>
                <key>textureRect</key>
                <string>{{1770,0},{177,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,156}</string>
                <key>spriteSourceSize</key>
                <string>{177,156}</string>
                <key>textureRect</key>
                <string>{{177,0},{177,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,156}</string>
                <key>spriteSourceSize</key>
                <string>{177,156}</string>
                <key>textureRect</key>
                <string>{{354,0},{177,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,156}</string>
                <key>spriteSourceSize</key>
                <string>{177,156}</string>
                <key>textureRect</key>
                <string>{{531,0},{177,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,156}</string>
                <key>spriteSourceSize</key>
                <string>{177,156}</string>
                <key>textureRect</key>
                <string>{{708,0},{177,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,156}</string>
                <key>spriteSourceSize</key>
                <string>{177,156}</string>
                <key>textureRect</key>
                <string>{{885,0},{177,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,156}</string>
                <key>spriteSourceSize</key>
                <string>{177,156}</string>
                <key>textureRect</key>
                <string>{{1062,0},{177,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,156}</string>
                <key>spriteSourceSize</key>
                <string>{177,156}</string>
                <key>textureRect</key>
                <string>{{1239,0},{177,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,156}</string>
                <key>spriteSourceSize</key>
                <string>{177,156}</string>
                <key>textureRect</key>
                <string>{{1416,0},{177,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>headerContent.png</string>
            <key>size</key>
            <string>{1947,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2fad5a96a0ec404092e3f329464355e:d9843267393bca15b9d6edadf89e622f:d1c7f030de405c0a1c96396dcb0001e4$</string>
            <key>textureFileName</key>
            <string>headerContent.png</string>
        </dict>
    </dict>
</plist>
